@import "../../../../themes/variables.scss";

.home {
  background-image: url("../../../../assets/img/img-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  &__container {
    height: 100svh;
    width: 90%;
    padding: 36px 0;
    max-width: none;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: flex-end;
  }
}

// ====================== GENERAL PROPERTIES =================

h1 {
  font-size: 42px;
  color: $color-primary;
}

p {
  font-size: 20px;
  color: $color-primary;
}

.container-custom {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

// ====================== REPONSIVE PROPERTIES =================

.showSectionMobile {
  display: flex;
}

.showSectionDesk {
  display: none;
}

@media (min-width: 576px) {
  .home {
    background-image: url("../../../../assets/img/img-home.jpg");
    background-position: center;
    &__container {
      height: 100vh;
    }
  }
}

@media (min-width: 992px) {
  .showSectionDesk {
    display: flex;
  }

  .home {
    &__container {
      align-items: center;
    }
    &__contact {
      height: 440px;
      position: absolute;
      right: 0;

      padding: 36px 24px;

      background: $color-secondary;
      border-radius: 10px 0px 0px 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      align-items: center;

      &-text {
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -0.02em;
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        color: $color-primary;
      }
    }
  }

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 28px;
    max-width: 20ch;
  }
}
