<main>
  <section class="home" id="home">
    <div class="flex flex-column gap-2">
      <h1>{{ "homeTitle" | translate }}</h1>
      <p>{{ "homeSubTitle" | translate }}</p>

      <a href="#contact"
        ><p-button label="{{ 'buttonHome' | translate }}"> </p-button
      ></a>
    </div>
    <div (click)="sidebarVisible = true" class="home__contact showSectionDesk">
      <p
        class="home__contact-text"
        (mouseenter)="onHover(true)"
        (mouseleave)="onHover(false)"
      >
        {{ "sidebarHome" | translate }}
      </p>
    </div>
  </section>

  <p-sidebar [(visible)]="sidebarVisible" position="right">
    <ng-template pTemplate="header">{{
      "sidebarHome" | translate
    }}</ng-template>
    <ng-template pTemplate="content"><landing-form></landing-form></ng-template>
  </p-sidebar>

  <about-us></about-us>
  <reasons-to-choose></reasons-to-choose>
  <contact></contact>
</main>
