<footer class="footer">
  <div class="container-custom flex flex-column gap-4">
    <div class="flex justify-content-between">
      <div>
        <ul class="flex flex-column gap-3">
          <li><a href="#about-me">Quiénes somos</a></li>
          <li><a href="#projects">Ventajas</a></li>
          <!-- <li><a href="#skills">Skills</a></li> -->
          <li>Contacto</li>
        </ul>
      </div>
      <div class="flex gap-3">
        <i class="pi pi-envelope footer-icon"></i>
        <i class="pi pi-facebook footer-icon"></i>
        <i class="pi pi-linkedin footer-icon"></i>
        <i class="pi pi-twitter footer-icon"></i>
      </div>
    </div>
    <div>
      <p class="copy">
        &copy; Designed & Developed By Elena Arocena
        <span>💜​</span> {{ currentYear }}
      </p>
    </div>
  </div>
</footer>
