@import "../../../../variables.scss";

@mixin primeng-modules() {
  // ====================== BUTTON =================

  .p-button {
    color: white;
    background: $button-principal;
    border: 1px solid $button-principal;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 24px;
  }

  .p-button.p-button-secondary,
  .p-buttonset.p-button-secondary > .p-button,
  .p-splitbutton.p-button-secondary > .p-button {
    color: #ffffff;
    background: $button-secundario;
    border: 1px solid $button-secundario;
  }

  .p-button:not(:disabled):active {
    background: $button-principal;
    color: #ffffff;
    border-color: $button-principal;
  }

  .p-button:not(:disabled):hover {
    transition: 0.5s;
    background: $button-principal-hover;
    color: #ffffff;
    border-color: $button-principal-hover;
  }
  .p-button:focus {
    box-shadow: none;
  }

  // ====================== SIDEBAR =================

  .p-sidebar {
    @media (min-width: 768px) {
      border-radius: 10px 0px 0px 10px;
    }
  }

  .p-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
  }

  .p-sidebar-content {
    position: relative;
    // overflow-y: hidden;
    flex-grow: 1;
  }

  .p-sidebar-right {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
      top: 25%;
      width: 600px;
      height: 400px;
    }

    @media (min-width: 992px) {
      top: 23%;
      width: 652px;
      height: 420px;
    }
  }
}
