@import "../../../../themes/variables.scss";

.about {
  &__info {
    height: 100%;
    padding: 36px 0;
  }
}

.img-about {
  height: 400px;
  width: 100%;
  transform: scaleX(-1);
  object-fit: cover;
}

// ====================== GENERAL PROPERTIES =================

h2 {
  font-size: 24px;
  color: $color-primary;
}

h3 {
  font-size: 18px;
  color: $color-tertiary;
}

.container-custom {
  width: 90%;
  height: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

// ====================== REPONSIVE PROPERTIES =================

.showSectionMobile {
  display: flex;
}

.showSectionDesk {
  display: none;
}

@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 20px;
    color: $color-tertiary;
  }

  p {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .about {
    display: flex;
    width: 100%;
    height: 100%;

    &__info {
      width: 50%;
      padding: 42px 0;
    }

    &__background {
      width: 50%;
    }
  }

  .container-custom {
    width: 80%;
  }

  .img-about {
    height: 100%;
    object-fit: cover;
  }
}
