@import "../../../../themes/variables.scss";

.about {
  // background: peachpuff;
  display: flex;
  &__info {
    padding: 36px 0;
  }
  &__background {
    width: 50%;
    background: pink;
  }
}

// ====================== GENERAL PROPERTIES =================

.container-custom {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
