<section class="about" id="about-us">
  <div class="about__info">
    <div class="container-custom flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <h3>{{ "aboutSubTitle" | translate }}</h3>
        <h2>{{ "aboutTitle" | translate }}</h2>
        <p>{{ "aboutDescription" | translate }}</p>
      </div>
      <div>
        <p-button
          label="{{ 'buttonAbout' | translate }}"
          (click)="sidebarVisible = true"
          severity="secondary"
        ></p-button>
      </div>
    </div>
    <span></span>
  </div>
  <div class="about__background">
    <img
      src="../../../../assets/img/img-about.jpg"
      alt="Cat photo"
      class="img-about"
    />
  </div>

  <p-sidebar [(visible)]="sidebarVisible" position="right">
    <ng-template pTemplate="header">{{
      "sidebarHome" | translate
    }}</ng-template>
    <ng-template pTemplate="content"><landing-form></landing-form></ng-template>
  </p-sidebar>
</section>
