// * ====================== COLORS ================= *

// ? BLACK

$black: #000000;
$color-primary: #262625;
$color-primary-opacity: rgb(38, 38, 37, 0.5);

// ? WHITE

$color-secondary: white;
$color-secondary-opacity: rgb(255, 255, 255, 0.5);

// ? LAVANDER

$color-tertiary: #866aa8;
$lavender-web: #E8E6F3ff;

// ? HOVER

$color-primary-hover: $color-tertiary;


// * ====================== BUTTON COLORS ================= *

$button-principal: $color-primary;
$button-principal-hover: $color-primary-hover;
$button-secundario: $color-primary;

// * ====================== FONT FAMILY ================= *

$font-family-custom: "Poppins", sans-serif;

// * ====================== FONT SIZE ================= *

$default-font-size: 14px;
