@import "../../../../themes/variables.scss";

.advantages {
  padding: 36px 0;
  background: $color-tertiary;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 36px;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.advantage-img {
  width: 150px;
}

.description {
  font-size: 16px;
  max-width: 32ch;
}

// ====================== GENERAL PROPERTIES =================

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  color: $color-secondary;
}

h3.header {
  font-size: 20px;
  color: $color-secondary;
  margin: 4px 0;
}

.container-custom {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

// ====================== REPONSIVE PROPERTIES =================

@media (min-width: 768px) {
  .advantages {
    padding: 42px 0;
  }

  .advantages-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 0;
    &-item {
      width: 30%;
    }
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 20px;
  }

  h3.header {
    font-size: 24px;
  }

  span {
    font-size: 18px;
    max-width: 30ch;
  }
}
