// ====================== REPONSIVE PROPERTIES =================

.showSectionMobile {
  display: flex;
}

.showSectionDesk {
  display: none;
}

@media (min-width: 768px) {
  .wrap {
    display: flex;
    gap: 24px;
  }

  .form-container {
    width: 296px;
  }
}
