@import "../../../../themes/variables.scss";

.header {
  background-color: $color-secondary-opacity;
  z-index: 100;
}

.sticker {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav {
  padding: 20px 0 12px 0;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
}

.nav-icon-sidebar {
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-wrap {
  width: 200px;
  text-align: center;
}

// ====================== GENERAL PROPERTIES =================

a {
  text-decoration: none;
  font-weight: 500;
  color: $color-primary;
}

p {
  margin: 8px 0;
  font-weight: 500;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container-custom {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

// ? ======= HOVER PROPERTIES =======

.item {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.item a {
  font-size: 16px;
  display: block;
  transition: all 0.2s;
}

.item a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 101%;
  height: 4px;
  background-color: $color-tertiary;
  animation: slide-out 300ms ease-in-out forwards;
}

.item a:hover::after {
  animation: slide-in 300ms;
}

@keyframes slide-out {
  0% {
    transform: none;
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: none;
  }
}

// ====================== REPONSIVE PROPERTIES =================

.showSectionMobile {
  display: flex;
}

.showSectionDesk {
  display: none;
}

@media (min-width: 768px) {
  .showSectionMobile {
    display: none;
  }

  .showSectionDesk {
    display: flex;
  }

  .nav {
    justify-content: space-between;
    align-items: center;
  }

  .nav-icon {
    margin-bottom: 8px;
  }

  .item a {
    margin-bottom: 8px;
  }
}
