<header
  class="header"
  [ngClass]="{
    sticker: !sidebarVisible,
    header: true,

  }"
>
  <div class="container-custom">
    <!-- ************** MOBILE ************** -->
    <nav class="nav showSectionMobile">
      <div class="flex align-items-center gap-3">
        <p class="item">
          <a href="#home">Landing Page</a>
        </p>
      </div>

      <div>
        <i class="pi pi-th-large nav-icon" (click)="sidebarVisible = true"></i>
      </div>
    </nav>

    <p-sidebar [(visible)]="sidebarVisible" position="bottom">
      <ng-template pTemplate="content">
        <div class="flex align-items-center gap-4 pt-2 pb-2">
          <div
            class="flex flex-column align-items-center sidebar-wrap"
            (click)="closeSidebar()"
          >
            <i class="pi pi-id-card nav-icon-sidebar"></i>
            <a href="#about-us">
              <p>{{ "navAbout" | translate }}</p>
            </a>
          </div>
          <div
            class="flex flex-column align-items-center sidebar-wrap"
            (click)="closeSidebar()"
          >
            <i class="pi pi-heart nav-icon-sidebar"></i>
            <a href="#advantages">
              <p>{{ "navAdvantages" | translate }}</p>
            </a>
          </div>
          <div
            class="flex flex-column align-items-center sidebar-wrap"
            (click)="closeSidebar()"
          >
            <i class="pi pi-envelope nav-icon-sidebar"></i>

            <a href="#contact">
              <p>{{ "navContact" | translate }}</p>
            </a>
          </div>
        </div>
      </ng-template>
    </p-sidebar>

    <!-- ************** DESK ************** -->
    <nav class="nav showSectionDesk">
      <div class="flex align-items-center gap-3">
        <p class="item">
          <a href="#home">Landing Page</a>
        </p>
      </div>
      <ul class="flex gap-4">
        <li class="item">
          <a href="#about-us">{{ "navAbout" | translate }}</a>
        </li>
        <li class="item">
          <a href="#advantages">{{ "navAdvantages" | translate }}</a>
        </li>
        <li class="item">
          <a href="#contact">
            {{ "navContact" | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
